.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  background: #f8f9fc;
  min-height: 20px;
  position: relative;
  margin-top: 0;
}

.visualGraphContainer {
  position: absolute;
  left: 0.5%;
  /* top: %; */
  width: 25%;
  max-width:300px;
}

.textContainer {
  flex: 1;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  /* padding-top: 1rem; */
}

.heading {
  font-size: 3rem;
  font-weight: bold;
  color: #111;
  margin-bottom: 1.5rem;
}

.highlight {
  color: #3a86ff;
}

/* .subheading {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
  line-height: 1.6;
  width: 400px;
  
} */

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.primaryBtn {
  background: black;
  color: white;
  border: none;
  padding: 0.9rem 1.4rem;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.primaryBtn:hover {
  background: #333;
}

.secondaryBtn {
  background: white;
  color: black;
  border: 2px solid black;
  padding: 0.8rem 1.5rem;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.secondaryBtn:hover {
  background: black;
  color: white;
}

.robotContainer {
  position: absolute;
  right: 10%;
  top: 15%;
  width: 25%;
  max-width: 90px;
}

.robotContainer > * {
  width: 80%;
  animation: float 3s ease-in-out infinite;
}

/* Floating Animation */
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Responsive Design */
@media (max-width: 1024px) {
  .visualGraphContainer {
    width: 20%;
    top: 25%;
  }
  
  .robotContainer {
    width: 20%;
    top: 20%;
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding-top: 4rem;
  }
  
  .visualGraphContainer {
    position: relative;
    width: 100%;
    max-width: 200px;
    left: auto;
    top: auto;
    margin: 0 auto 50rem;
  }
  
  .textContainer {
    padding-top: 0;
    margin-bottom: 2rem;
  }
  
  .robotContainer {
    position: relative;
    width: 100%;
    max-width: 250px;
    right: auto;
    top: auto;
    margin: 2rem auto 0;
  }
  
  .heading {
    font-size: 2.2rem;
  }
  
  .subheading {
    font-size: 1rem;
  }
}