.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    background: white;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  

  
  .nav {
    display: flex;
    gap: 1.5rem;
  }
  
  .nav a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .nav a:hover {
    color: #000;
  }
  
  /* .buttons {
    display: flex;
    gap: 1rem;
  }
  
  .sogot {
    background: none;
    border: 2px solid #555;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
  }
  
  .sogot:hover {
    background: #555;
    color: white;
  } */
  
  /* .contact {
    background: black;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.3s ease;
  } */
  
  /* .contact:hover {
    background: #333;
  } */
  